__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/

.env
.cdsapirc

data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep
*.nc
*.parquet
*.tif

.ipynb_checkpoints/

node_modules/
.DS_Store
